@page
@model RegistrationSystem.Pages.RegisterModel

<h2>Create an Account</h2>

<form method="post">
    
    <div>
        <label>Username</label><br />
        <input asp-for="NewUser.Username" />
        <span asp-validation-for="NewUser.Username" style="color:red"></span>
    </div>
    <br />

    <div>
        <label>Email</label><br />
        <input asp-for="NewUser.Email" />
        <span asp-validation-for="NewUser.Email" style="color:red"></span>
    </div>
    <br />

    <div>
        <label>Password</label><br />
        <input asp-for="NewUser.Password" type="password" />
        <span asp-validation-for="NewUser.Password" style="color:red"></span>
    </div>
    <br />

    <div>
        <label>Confirm Password</label><br />
        <input asp-for="NewUser.ConfirmPassword" type="password" />
        <span asp-validation-for="NewUser.ConfirmPassword" style="color:red"></span>
    </div>
    <br />

    <button type="submit">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}